# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://aihxiuctsfjblvztnhyk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFpaHhpdWN0c2ZqYmx2enRuaHlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYxMDg5MTQsImV4cCI6MjA3MTY4NDkxNH0.Eo2cr9ZR-r3RzVxAiPtj8jiSvcSp9ByccZcNdK_zHVo